.Instructions {
    color: white;
    font-size: 55px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 100px;
    margin-bottom: 400px;
}

.InstructionsBottom {
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 200%;
    margin-top: 400px;
    margin-bottom: 330px;
}

.UserPosts {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Post {
    margin-bottom: 30px;
    width: 60%;
}

.Header {
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.Picture {
    background-color: white;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.Content {
    height: 300px;
    background-color: hsl(35, 85%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: 500;
    font-size: 25px;
}

.Content > p {
    margin: 5px;
}